<div class="venta-formulario">
  <h2>Formulario de Venta</h2>
  <form [formGroup]="ventaForm" (ngSubmit)="onSubmit()">

    <label>
      Nombre de cliente:
      <input type="text" formControlName="nombreCliente" />
    </label>

    <label>
      Tipo de café:
      <select formControlName="tipoCafe">
        <option value="Honduras">Honduras</option>
        <option value="Colombia">Colombia</option>
      </select>
    </label>

    <label>
      Tipo de tueste:
      <select formControlName="tipoTueste">
        <option value="claro">Claro</option>
        <option value="medio">Medio</option>
        <option value="oscuro">Oscuro</option>
      </select>
    </label>

    <label>
      Tipo de gramaje:
      <select formControlName="tipoGramaje">
        <option value="125gr">125gr</option>
        <option value="250gr">250gr</option>
        <option value="1000gr">1000gr</option>
      </select>
    </label>

    <label>
      Cantidad de bolsas:
      <input type="number" formControlName="cantidad" min="1" />
    </label>

    <button type="submit">Enviar</button>
  </form>
</div>